<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cart">
            <h2><span>Cart</span> {{ cart.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Products Number</span></dt>
                <dd>
                    <span>{{ cart.productsNumber }}</span>
                </dd>
                <dt><span>Total Price</span></dt>
                <dd>
                    <span>{{ cart.totalPrice }}</span>
                </dd>
                <dt><span>Products In</span></dt>
                <dd>
                    <span *ngFor="let productsIn of cart.productsIns; let last = last">
                        <a [routerLink]="['/product', productsIn?.id, 'view']">{{ productsIn.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart', cart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
